<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue 3 cource </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #463c81;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app">
        
        <div v-if=showBooks>
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @click="changeShowBooks">
            <span v-if=showBooks>Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <br>
        <hr>
        <br>

        <div @mouseover="handleEvent" class="box">mouse over</div>
        <div @mouseleave="handleEvent" class="box">mouse leave</div>
        <div @dblclick="handleEvent" class="box">double click</div>
        <div @mousemove="handleEvent" class="box">mouse move</div>

    </div>

    <script src="app.js"></script>
</body>
</html>