<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue 3 cource </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #463c81;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app">
        
        <a :href="url">google</a>

        <div v-if=showBooks>
            <ul v-for="book in books">
                <li>
                    <h1>{{book.title}}</h1>
                    <p>{{book.author}}</p>
                </li>
            </ul>

        </div>

        <button @click="changeShowBooks">
            <span v-if=showBooks>Hide Books</span>
            <span v-else>Show Books</span>
        </button>

    </div>

    <script src="app.js"></script>
</body>
</html>